<section id="about" class="flex flex-col items-center py-3 bg-black">
  <div class="flex lg:flex-row flex-col lg:justify-between items-center w-2/5 py-10">
    <div class="w-32 h-32 mt-3">
      <img class="rounded-full" src="assets/images/xiabing.jpg">
    </div>
    <div class="flex flex-col items-center text-white my-4">
      <p class="text-xl font-bold">About me.</p>
      <p class="mt-3 text-center">"I'm a full-stack developer."</p>
    </div>
  </div>
  <div class="about-box">
    <div class="about-card">
      <div class="about-card-top">
        <fa-icon [icon]="faLanguage"></fa-icon> 
      </div>
      <div class="about-card-bottom">
        <h3 class="my-1">Multi languages</h3>
        <p class="text-sm">I speak 4 human languages & 4+ machine languages.</p>
      </div>
    </div>
    <div class="about-card">
      <div class="about-card-top">
        <fa-icon [icon]="faComments"></fa-icon> 
      </div>
      <div class="about-card-bottom">
        <h3 class="my-1">Communication</h3>
        <p class="text-sm">I have been working in many different countries, I enjoy working with people from all over the world.</p>
      </div>
    </div>
    <div class="about-card">
      <div class="about-card-top">
        <fa-icon [icon]="faSun"></fa-icon> 
      </div>
      <div class="about-card-bottom">
        <h3 class="my-1">Passion</h3>
        <p class="text-sm">I do programming with passion.</p>
      </div>
    </div>
    <div class="about-card">
      <div class="about-card-top">
        <fa-icon [icon]="faHiking"></fa-icon> 
      </div>
      <div class="about-card-bottom">
        <h3 class="my-1">Hobby</h3>
        <p class="text-sm">I love hiking. Nature is a miracle.</p>
      </div>
    </div>
  </div>
</section>
