<section id="skills" class="flex flex-col content-center items-center bg-black lg:pt-4 pt-12 pb-4">
  <div class="text-center text-xl font-bold text-white my-4">My Skills</div>
  <div class="flex flex-row">
    <div>
      <div class="skills-card">
        <div id="skills-html" class="skills-card__logo"></div>
        <div class="skills-card__text">HTML</div>
      </div>
      <div class="skills-card">
        <div id="skills-css" class="skills-card__logo"></div>
        <div class="skills-card__text">CSS</div>
      </div>
      <div class="skills-card">
        <div id="skills-js" class="skills-card__logo"></div>
        <div class="skills-card__text">Javascript</div>
      </div>
    </div>

    <div>
      <div class="skills-card">
        <div id="skills-java" class="skills-card__logo"></div>
        <div class="skills-card__text">Java</div>
      </div>
      <div class="skills-card">
        <div id="skills-angular" class="skills-card__logo"></div>
        <div class="skills-card__text">Angular</div>
      </div>
      <div class="skills-card">
        <div id="skills-react" class="skills-card__logo"></div>
        <div class="skills-card__text">React</div>
      </div>
    </div>

    <div>
      <div class="skills-card">
        <div id="skills-spring" class="skills-card__logo"></div>
        <div class="skills-card__text">Spring</div>
      </div>
      <div class="skills-card">
        <div id="skills-git" class="skills-card__logo"></div>
        <div class="skills-card__text">Git</div>
      </div>
      <div class="skills-card">
        <div id="skills-sql" class="skills-card__logo"></div>
        <div class="skills-card__text">SQL</div>
      </div>
    </div>

  </div>
</section>
